// header section of application(temperature, time etc)
.header {
  padding: 5% 8%;

  // header-content
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include widgetContainer;

    // temp-container
    .temp-container {
      height: 100%;
      width: 50%;
      text-align: center;

      .city {
        font-size: 1rem;
      }

      .icon-temp {
        span {
          font-size: 3.5rem;

          sup {
            font-size: 40%;
            position: absolute;
          }
        }
      }

      .time {
        font-size: 1rem;
        text-align: center;
      }
    }

    .icon-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      img {
        width: 120px;
      }

      p {
        margin-top: 0;
        text-align: center
      }
    }
  }

  // weekly
  .forecast {
    @include widgetContainer;
    text-align: center;

    .forecast-header {
      p {
        margin: 0;
      }
    }

    .forecast-container {
      display: none;
      justify-content: space-evenly;
      margin-bottom: 1rem;

      img {
        width: 75%;
      }

      p {
        margin: 0;
        text-align: center;
      }
    }

  }

  // alert
  .alert {
    @include widgetContainer;
    text-align: center;

    .alert-header {
      p {
        margin: 0;
      }
    }

    .alertMsgContainer {
      display: none;
      flex-direction: column;

      p:last-of-type {
        margin: 0;
      }
    }

  }

  .alert:hover,
  .forecast:hover {
    cursor: pointer;
    border: 4px solid rgb(230, 173, 173);
  }
}