@keyframes myAnim {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-5px);
  }
  20%, 40%, 60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-3px);
  }
}
.toggle-display {
  display: none;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
}

.header,
.main {
  color: whitesmoke;
}

ul {
  list-style: none;
}

.hide {
  visibility: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

#location-region {
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
}

#weatherConditionIcon {
  animation: myAnim 13s ease 0s infinite normal forwards;
}

.header {
  padding: 5% 8%;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(68, 68, 68, 0.671);
  border-radius: 15px;
  padding: 10px 10px;
  margin: 15px 0;
}
.header-content .temp-container {
  height: 100%;
  width: 50%;
  text-align: center;
}
.header-content .temp-container .city {
  font-size: 1rem;
}
.header-content .temp-container .icon-temp span {
  font-size: 3.5rem;
}
.header-content .temp-container .icon-temp span sup {
  font-size: 40%;
  position: absolute;
}
.header-content .temp-container .time {
  font-size: 1rem;
  text-align: center;
}
.header-content .icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-content .icon-container img {
  width: 120px;
}
.header-content .icon-container p {
  margin-top: 0;
  text-align: center;
}
.header .forecast {
  background-color: rgba(68, 68, 68, 0.671);
  border-radius: 15px;
  padding: 10px 10px;
  margin: 15px 0;
  text-align: center;
}
.header .forecast .forecast-header p {
  margin: 0;
}
.header .forecast .forecast-container {
  display: none;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.header .forecast .forecast-container img {
  width: 75%;
}
.header .forecast .forecast-container p {
  margin: 0;
  text-align: center;
}
.header .alert {
  background-color: rgba(68, 68, 68, 0.671);
  border-radius: 15px;
  padding: 10px 10px;
  margin: 15px 0;
  text-align: center;
}
.header .alert .alert-header p {
  margin: 0;
}
.header .alert .alertMsgContainer {
  display: none;
  flex-direction: column;
}
.header .alert .alertMsgContainer p:last-of-type {
  margin: 0;
}
.header .alert:hover,
.header .forecast:hover {
  cursor: pointer;
  border: 4px solid rgb(230, 173, 173);
}

.main {
  flex-grow: 1;
  padding-left: 8%;
  padding-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px -2px 8px rgb(32, 32, 32);
  overflow-y: scroll;
  overflow-x: hidden;
}
.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.main-content form {
  display: flex;
  height: 90px;
  margin-bottom: 10px;
}
.main-content form input[type=text] {
  flex-grow: 1;
  align-self: end;
  border: none;
  border-bottom: 2px rgb(179, 179, 179) solid;
  background-color: rgba(77, 173, 179, 0);
  color: rgb(179, 179, 179);
}
.main-content form input[type=text]::placeholder {
  color: rgb(179, 179, 179);
}
.main-content form input[type=text]:focus {
  background-color: rgba(8, 8, 8, 0.541);
  padding: 10px 0 5px 5px;
  color: white;
  border: 2px solid rgba(137, 188, 191, 0.7960784314);
  outline: none !important;
  border-radius: 10px;
}
.main-content form input[type=text]:hover {
  background-color: rgba(8, 8, 8, 0.541);
  padding: 10px 0 5px 5px;
  color: white;
  border: 2px solid rgba(137, 188, 191, 0.7960784314);
  outline: none !important;
  border-radius: 10px;
}
.main-content form button[type=submit] {
  margin-left: 25px;
  padding: 25px;
  background-color: rgba(137, 188, 191, 0.7960784314);
  border: none;
  width: 95px;
}
.main-content .saved-citys {
  border-bottom: 2px rgb(179, 179, 179) solid;
  margin-right: 8%;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}
.main-content .saved-citys .listedCity {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.main-content .saved-citys .listedCity li {
  flex-grow: 1;
}
.main-content .saved-citys .listedCity span {
  visibility: hidden;
}
.main-content .saved-citys .listedCity:hover {
  color: aqua;
  cursor: pointer;
}
.main-content .saved-citys .listedCity:hover span {
  visibility: visible;
}
.main-content .saved-citys .listedCity:hover span:hover {
  color: rgb(247, 55, 55);
}
.main-content .saved-citys::-webkit-scrollbar {
  display: none;
}
.main-content .saved-citys::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-content .weather-details {
  border-bottom: 2px rgb(179, 179, 179) solid;
  margin-right: 8%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-content .weather-details .cloudy,
.main-content .weather-details .humidity,
.main-content .weather-details .wind,
.main-content .weather-details .rain {
  color: rgb(179, 179, 179);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    flex-direction: row;
  }
  .header {
    height: auto;
    width: 50%;
  }
  .header .daily {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .temperature {
    font-size: 120px;
  }
  .main {
    padding-left: 3%;
  }
  .weather-condition, .city-time {
    height: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
